@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure{margin:0;padding:0}
body{font-family: '微软雅黑';}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration:none;}
img{border:0;display:block;}
ul,ol,li{list-style:none;}
input{outline:none;}
.clear-fix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}

.top-con,.search,.nav-con,#banner,#bodyer,.footer-con{width:1200px;margin:0 auto;}
a{cursor: pointer;}
/*header*/
	/*top*/
.top{
	height:30px;
	background:#f8f8f8;
}
.top-con{
	height:30px;
}
#header .home{
	float:left;
	padding:6px 0 5px 0;
	height:19px
}
#header .home-ul{
	float:right;
}
#header .home-ul li{
	float:left;
	padding:6px 0 5px 0;
	height:19px
}
#header .top-con a{
	display: block;
	font-size:12px;
	color:#666666;
	padding-right:16px;
	height: 16px;
	border-right:1px dashed #cccccc

}
#header .top-con .home-a{
	border:0;
}
#header a:hover{
	color:#ff3366
}
#header em{
	display:block;
	float:left;
	width:16px;
	height:16px;
	margin:0 7px 0 18px;	
}
#header .home-em{

	background:url(../img/tpzh-top.png) no-repeat 0 0;
}

#header .wx-a{

}
#header .wx-em{
	background:url(../img/tpzh-top.png) no-repeat -24px 0;
	width:20px;
}
#header .dl-a{
	padding-left:16px
}
#header .zc-a{
	padding-left:16px
}
#header .sc-li{
	position:relative;

}
#header .sc-li .sc-list{
	display:none;
	position:absolute;
	left:0;
	top:27px;
	border:1px solid #e6e6e6 ;
	background:#f8f8f8;
}
#header .sc-list a{

	text-align:center;
	line-height:32px;
	width:68px;
	height:32px;
	border:0;
}
#header .sc-li:hover .sc-list{
	display:block;
}
#header .sc-em{
	background:url(../img/tpzh-top.png) no-repeat -72px 0;
	width:23px
}
#header .gw-a{

}
#header .gw-em{
	background:url(../img/tpzh-top.png) no-repeat -96px 0;
	width:25px
}
#header .dd-em{
	background:url(../img/tpzh-top.png) no-repeat -128px 0;
}
#header .help-a{
	padding-left:16px
}
#header .help-em{
	background:url(../img/tpzh-top.png) no-repeat -176px 0;
	float:right;
	margin:0 18px 0 7px;
}
#header .help-li{
	position:relative;

}
#header .help-li .help-list{
	display:none;
	position:absolute;
	left:0;
	top:27px;
	border:1px solid #e6e6e6 ;
	background:#f8f8f8;
}
#header .help-list a{

	text-align:center;
	line-height:30px;
	width:68px;
	height:30px;
	border:0;
}
#header .help-li:hover .help-list{
	display:block;
}
#header .top-con .ht-a{
	padding-left:16px;
	border:0
}
	/*search*/	
.search{
	height:136px;
	margin-bottom:26px;
}
#header .search .logo{
	display: block;
	float: left;
    width: 204px;
    height: 52px;
    margin-top: 40px;
    background:url(../img/logo.png) no-repeat;
    background-size:100%;
    padding-right:0;
    
}
.search-box{
	float:left;
	width:520px;
	margin-left:136px;
	
}
.search-top{
	padding-top:21px;
	
}

.baby span{
	display: block;
	background:#FF3366;
	width:56px;
	height:24px;
	font-size:12px;
	text-align: center;
	line-height: 24px;
	color:white;
	
}
.text{
	float:left;
	display: block;
	width: 445px;
	height:28px;
	border:2px solid #ff3366
}
#header .search-c .fdj{
	display:block;
	float:left;
	width:69px;
	height:32px;
	background:#ff3366 url(../img/fdj.png) no-repeat 50% 50% ;
	padding:0;
	
}
#header .search a{
	font-size:12px;
	color: #ff3366;
	padding-right:6px;
}
#header .search .dark{
	color: #666666;
}
#header .search .search-left{
	float:right;
	padding:0;

}

	/*nav*/
#nav{
	background:white;
	height:40px;
	border-bottom:1px solid #dddddd;
	width:100%;
}
.nav-con{
	height:40px;
}

#header .nav-con li{
	float:left;
	
} 
#header .nav-con a{
	height:38px;
	display: block;
	margin-right:76px;
	font-size:16px;
	font-weight: 900;
	line-height:38px;
	color:black;
	
}
#header .nav-con a:hover{
	color:#ff3366;
	border-bottom: 2px solid #ff3366;
}
#header .nav-con .home-nav-a{
	color:#ff3366;
	border-bottom: 2px solid #ff3366;
	
}
.nav-fixed{
	position:fixed;
	left:0;
	top:0;
}
/*act*/
#act{
	width:250px;
	height:212px;
	position:fixed;
	left:20px;
	top:308px;
	z-index:999;


}
#act .act-img{
	display:block;
	position:absolute;
	left:0;
	bottom:0;
}
#act .act-close{
	display:block;
	position:absolute;
	right:0;
	top:0;
}
#act .act-close:hover #act{
	display:none;
}

/*banner*/

#banner .banner-a{
	display: block;
	
	width:1200px;
	height:400px;
	background:url(../img/banner.jpg) no-repeat;
	background-size:100% 100%;
	margin-top:10px;
}
/*bodyer*/
	/*title*/
#bodyer .title{
	
	height:88px;
}
#bodyer .title .title1{
	margin: 40px 0 20px 0;
	float:left;
	display: block;
	font-size:20px;
	color:#666666;
	font-weight:900;
}
#bodyer .title .title2{
	display: block;
	float:right;
	font-size:12px;
	color:#6f6f6f;
	margin:46px 0 28px 0;
}
	/*img-list*/
.img-list{
	min-height: 1284px;
	margin-bottom: 22px;
}
#bodyer .img-box {
	float:left;
	margin-right:20px;
	margin-bottom: 24px;
}
#bodyer .img-box5 {
	float:left;
	margin-right:0;
}
#bodyer a.img1{
	display: block;
	background:url(../img/list.jpg) no-repeat;
	background-size:100% 100%;
	height:340px;
	width:224px;
}
#bodyer .img-value{
	
}
#bodyer .img-value .money{
	float:left;
	color:#ff3366;
	font-size:14px;
	margin:8px 0;
	
}
#bodyer .img-value .collect{
	
	float:right;
	color:#999999;
	font-size:12px;
	margin:6px 0 8px 0;
	}
#bodyer .collect i{
	display:block;
	float:left;
	background:url(../img/tpzh-top.png);
	background-position: -72px;
	width: 23px;
	height:15px;
}
#bodyer .img-title{
	display: block;
	width:224px;
	font-size:12px;
	line-height:16px;
	color:#666;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;	
}
#bodyer .img-title:hover{
	color:#ff3366;
}
#bodyer .img-title i{
	display:block;
	float:left;
	background:url(../img/yx-bg.png) ;
	background-size: 100% 100%;
	width:38px;
	height:18px;
	margin-right:4px
}	
/*footer*/
#footer{
	height:296px;
	background:#f5f5f5;
	border-top:1px solid #ddd;
	
}
.footer-con{
	height:296px;
}
	/*contact*/
.contact{
	height:227px;
}
#footer .contact .contact-list{
	float:left;
	margin-top: 33px;
	
}
#footer .contact h4{
	font-size:18px;
	line-height:18px;
	color: #666;
	font-weight: 700;
	margin-bottom:26px;
	margin-right:103px
}
#footer .contact-list a{
	display: block;
	font-size: 12px;
	color: #666;
	margin-bottom: 17px;
}
#footer a:hover{
 	color:#ff3366;
 }
#footer .contact-list i{
	display:block;
	float: left;
	width:18px;
	height:18px;
	margin-right: 4px;
}
#footer .contact-list .wb-sina{
	background:url(../img/tpzh-about.png) no-repeat 0 0;
}
#footer .contact-list .qq-zone{
	background:url(../img/tpzh-about.png) no-repeat -28px 0;
}
#footer .contact-list .wb-tencent{
	background:url(../img/tpzh-about.png) no-repeat -56px 0;
}
#footer .contact .service-wx{
	margin-left:122px;
	margin-right:0;
}
#footer  .contact .service-wx-h4 {
	margin-right:0;

}
#footer  .service-wx img{
	margin:0 auto;

}
#footer .contact .contact-app{
	margin-left:50px;
}
	/*Copyright*/
.Copyright{
	padding-top:14px;
	line-height: 22px;
	height:52px;
	border-top:1px solid #e6e6e6;
	text-align:center;
	font-size:12px;
	color:#666;
}
 #footer .Copyright a{
 	font-size:12px;
	color:#666;

 }
  #footer .Copyright a:hover{
 	color:#ff3366;
 }
 /*sidebar*/
 #sidebar{
 	position:fixed;
 	right:0;
 	top:0;
 	z-index:999;
 	background:#f8f8f8;
 	height:100%;
 	border-left:1px solid #ddd;

 	 	
 }
 #sidebar .sidebar-box a,.sidebar-download-li,.top-li,.sidebar-bottom{
 	display:block;
 	text-align:center;
 	line-height:14px;
	font-size:12px;
	padding:38px 14px 5px 14px;
	width:10px;
	border-bottom:1px solid #ddd;
	color: #666;


}
#sidebar .sidebar-box a:hover{
	color:white;
}
.sidebar-download-li:hover{
	background:#ff6699;
	color:white;
}

.top-li{
	height:22px;
	background:#f8f8f8;
}
.sidebar-download-li{
	padding:40px 14px 25px 14px;
	background:url(../img/sidebar-app.png) no-repeat 14px 15px #f8f8f8;
	position:relative;

}
.sidebar-qrcode-app{
	position:absolute;
	z-index:999;
	top:0;
	left:-140px;
	border:1px solid #ddd;
	display:none;
}
.sidebar-download-li:hover .sidebar-qrcode-app{
	display:block;
}
.sidebar-download-li:hover{
	background:url(../img/sidebar-app-h.png) no-repeat 14px 15px #F33866;
	cursor:pointer;
}


#sidebar .sidebar-download-li span{
	display:block;
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    margin-left:5px;
}
#sidebar .sidebar-box .car-a{

	background:url(../img/sidebar-car.png) no-repeat 10px 15px ;
}
#sidebar .sidebar-box .car-a:hover{

	background:url(../img/sidebar-car-h.png) no-repeat 10px 15px #F33866;
}
#sidebar .sidebar-box .message-a{

	background:url(../img/sidebar-message.png) no-repeat 12px 15px;
}
#sidebar .sidebar-box .message-a:hover{

	background:url(../img/sidebar-message-h.png) no-repeat 12px 15px #F33866;
}	
#sidebar .sidebar-box .ticket-a{

	background:url(../img/sidebar-ticket.png) no-repeat 12px 15px ; 
}
#sidebar .sidebar-box .ticket-a:hover{

	background:url(../img/sidebar-ticket-h.png) no-repeat 12px 15px #F33866; 
}
#sidebar .sidebar-box .collect-a{

	background:url(../img/sidebar-collect.png) no-repeat 10px 15px ;
}
#sidebar .sidebar-box .collect-a:hover{

	background:url(../img/sidebar-collect-h.png) no-repeat 10px 15px #F33866;
}
#sidebar .sidebar-box .footprint-a{

	background:url(../img/sidebar-footprint.png) no-repeat 13px 12px;
}
#sidebar .sidebar-box .footprint-a:hover{

	background:url(../img/sidebar-footprint-h.png) no-repeat 13px 12px #F33866;
}
 #sidebar .sidebar-box .bottom-a{
 	position:fixed;
 	z-index:9999;
 	bottom:0;
	background:url(../img/sidebar-arrow.png) no-repeat 13px 13px #f8f8f8;;	
	padding:26px 14px 5px 12px;
	border-top:1px solid #ddd;
}
#sidebar .sidebar-box .bottom-a:hover{
	background:url(../img/sidebar-arrow-h.png) no-repeat 13px 13px #F33866;
	 
}